#media-tab-media_cmdr.media-browser-tab form div,
#media-tab-media_cmdr.media-browser-tab form div table {
  font-family:"Courier New",monospace;
  font-size: 10pt !important;
  line-height: normal !important;
  border: none;
}

table.media-cmdr caption {
  text-align: center;
  font-size: 110%;
  font-weight: bold;
}

table.media-cmdr td,
table.media-cmdr th {
  background: transparent;
  border: none;
  padding: 0;
}

table.media-cmdr.panel td,
table.media-cmdr.panel th {
  border-right: 1px solid lightgray;
}

table.media-cmdr.panel td.t,
table.media-cmdr.panel th.t {
  border-right: none;
}

#media-cmdr-menu .menu {
  border: 1px solid white;
  padding: 2px;
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
}

#media-cmdr-left-wrap,
#media-cmdr-right-wrap {
  display: inline-block;
  background-color: blue;
  width: 50%;
  height: 320px;
}
#media-cmdr-left-wrap > div,
#media-cmdr-right-wrap > div {
  overflow-y: scroll; /*TODO remove this scrollbar*/
}

#media-cmdr-left,
#media-cmdr-right {
/*  position: relative; */
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden; /*TODO remove this scrollbar*/
  background-color: blue;
}

table.media-cmdr tbody {
 border: none;
 white-space: pre;
}


table.media-cmdr {
  margin: 0;
  padding: 0;
  background-color: blue;
  table-layout: fixed;
}

table.media-cmdr.panel td,
table.media-cmdr.panel th {
  padding: 0 0.2em 0 0;
  margin: 0;
  overflow-x: hidden;
}

table.media-cmdr tr.path th,
table.media-cmdr.panel tr {
  font-weight: normal;
  color: lightgray;
}

table.media-cmdr tr.header,
table.media-cmdr tr.header th {
  color: yellow;
}

table.media-cmdr td.n { /* name column */
  padding-left: 0;
  margin-left: 0;
/*  width: 40em; */
}
table.media-cmdr td.s { /* size column */
  text-align: right;
  width: 50pt;
}
table.media-cmdr td.d { /* datum column */
  width: 64pt;
}
table.media-cmdr td.m { /* mode column */
  width: 28pt;
}

table.media-cmdr th.n { /* name column */
  padding-left: 0;
  margin-left: 0;
/*  width: 40em; */
}
table.media-cmdr th.s { /* size column */
  width: 50pt;
}
table.media-cmdr th.d { /* datum column */
  width: 64pt;
}

table.media-cmdr th.m { /* mode column */
  width: 28pt;
}

table.media-cmdr tr.path th {
  padding-left: 0.25em;
}

#media-cmdr-left-wrap.active table.media-cmdr tr.path span,
#media-cmdr-right-wrap.active table.media-cmdr tr.path span {
  background-color: lightgray;
  color: black;
}
.active table.media-cmdr.panel tr.active.active { background-color: cyan; color: black;}
table.media-cmdr.panel tr.selected.selected { background-color: blue; color: yellow;}
.active table.media-cmdr.panel tr.active.selected.selected { background-color: cyan; color: yellow;}

table.media-cmdr.panel tr.dir {
  font-weight: bold;
  color: white;
}
table.media-cmdr.panel tr.exe {
  color: brightgreen;
}
table.media-cmdr.panel tr.sym {
  color: lightgray;
}
/*
    stalelink=brightred;
    device=brightmagenta;
    special=black;
    core=red;
*/
table.media-cmdr.panel tr.tmp {
  color: lightgray;
}
table.media-cmdr.panel tr.arc {
  color: lightmagenta;
}
table.media-cmdr.panel tr.doc {
  color: brown;
}
table.media-cmdr.panel tr.src {
  color: cyan;
}
table.media-cmdr.panel tr.vid {
  color: red;
}
table.media-cmdr.panel tr.aud {
  color: green;
}
table.media-cmdr.panel tr.gra {
  color: lightcyan;
}
table.media-cmdr.panel tr.dba {
  color: lightred;
}

div.media-cmdr-dialog {
  border: 1px double black !important;
  margin: 7% 7% 0;
  padding: 1em;
  position: absolute;
  width: 75%;
  z-index: -100;
}

div.media-cmdr-dialog-right {
  border: 1px double black !important;
  margin: 7% 7% 0;
  padding: 1em;
  position: absolute;
  width: 75%;
  z-index: -100;
}

div.media-cmdr-dialog table { background-color: transparent; }

div.media-cmdr-dialog.active {
  z-index: 100;
}

#media-cmdr-fileop { background-color: lightgray; }
#media-cmdr-menu.media-cmdr-menu-menu { background-color: cyan; width: 20%; color: white; font-weight: bold;}
#media-cmdr-menu { background-color: cyan; color: white; font-weight: bold;}
#media-cmdr-menu.media-cmdr-error { background-color: red; color: white; font-weight: bold;}

div.media-cmdr-dialog input[type=text]{
  width: 98%;
  border: none;
  background-color: lightcyan;
}

div.media-cmdr-dialog .media-cmdr-rwm {
  border: 1px solid black;
  padding 1px;
  background-color: white;
  color: black;
}

.media-cmdr-dialog table tbody {cursor: pointer;}

table.media-cmdr-menu tr {
  background-color: cyan;
  color: black;
  cursor: pointer;
}

table.media-cmdr-menu td span {
  background-color: black;
  color: white;
  padding-left: 1em;
}

/* javascript has to set the whole dialog color if error!
div.media-cmdr-dialog table.media-cmdr-error caption,
div.media-cmdr-dialog table.media-cmdr-error {
  background-color: red;
  color: black;
}
*/