<!-- operation dialog panel -->
<div id="media-cmdr-fileop" class="media-cmdr-dialog">
<table id="media-cmdr-fileop-fileop" class="media-cmdr media-cmdr-dialog">
<caption>Filter</caption>
<tr><td colspan="2"><span id="media-cmdr-fileop-op">Copy</span> <span id="media-cmdr-fileop-fn">*</span> with source mask</td></tr>
<tr><td colspan="2"><input type="text" value="*" name="media-cmdr-fileop-src"></td></tr>
<tr><td><input type="checkbox" name="media-cmdr-fileop-msrc"> Set unmanaged</td><td align="right"><input type="checkbox" name="media-cmdr-fileop-ptrn"> Using shell patterns</td></tr>
<tr><td colspan="2" id="media-cmdr-dialog-txt">to</td></tr>
<tr><td colspan="2"><input type="text" value="*" name="media-cmdr-fileop-dst"></td></tr>
<tr><td>Set mode <!--
--><span id="media-cmdr-fileop-mode-r" class="media-cmdr-rwm media-cmdr-mode-r">*</span><!--
--><span id="media-cmdr-fileop-mode-w" class="media-cmdr-rwm media-cmdr-mode-w">*</span><!--
--><span id="media-cmdr-fileop-mode-m" class="media-cmdr-rwm media-cmdr-mode-m">m</span></td><td align="right"><input type="checkbox" name="media-cmdr-fileop-dive"> Dive into subdir if exists</td></tr>
<tr><td colspan="2">&nbsp;</tr>
<tr><td><button type="button" class="media-cmdr-fileop-ok">OK</button> <!--
--><button type="button" class="media-cmdr-fileop-cancel">Cancel</button></td></tr>
</table></div>
<!-- Menu -->
<div id="media-cmdr-menu" class="media-cmdr-dialog"><!--

--><table id="media-cmdr-menu-menu" class="media-cmdr media-cmdr-menu">
<caption>Menu</caption>
<tr><td id="media-cmdr-menu-s">Sort order</td></tr>
<tr><td id="media-cmdr-menu-f">Filter</td></tr>
<tr><td id="media-cmdr-menu-c">Quick cd</td></tr>
<tr><td id="media-cmdr-menu-r">Refresh</td></tr>
</table><!--

 Menu Filter

--><table id="media-cmdr-menu-fltr" class="media-cmdr media-cmdr-dialog">
<caption>Filter</caption>
<tr><td>Set expression for filtering filenames</td></tr>
<tr><td><input type="text" name="media-cmdr-menu-fltr" value="*"/></td></tr>
<tr><td><input type="checkbox" name="media-cmdr-menu-hddn"/> Show hidden files</td></tr>
<tr><td>Filter by mode:<!--
--><span id="media-cmdr-menu-mode-r" class="media-cmdr-rwm media-cmdr-mode-r">*</span><!--
--><span id="media-cmdr-menu-mode-w" class="media-cmdr-rwm media-cmdr-mode-w">*</span><!--
--><span id="media-cmdr-menu-mode-m" class="media-cmdr-rwm media-cmdr-mode-m">*</span><!--
--></td></tr>
<tr><td><button type="button" class="media-cmdr-menu-ok">OK</button> <!--
--><button type="button" class="media-cmdr-menu-cancel">Cancel</button></td></tr>
</table><!--

 Menu Quick-CD

--><table id="media-cmdr-menu-cd" class="media-cmdr media-cmdr-dialog">
<caption>Quick cd</caption>
<tr><td>cd <input type="text" name="media-cmdr-menu-cd" value=""/></td></tr>
<tr><td>password <input type="password" name="media-cmdr-menu-pass" value=""/></td></tr>
<tr><td>cURL options <textarea style="width: 80%; height: 6em; overflow-y: scroll" name="media-cmdr-menu-copt"></textarea></td></tr>
<tr><td><button type="button" class="media-cmdr-menu-ok">OK</button> <!--
--><button type="button" class="media-cmdr-menu-cancel">Cancel</button></td></tr>
</table><!--

  Menu Sort order

--><table id="media-cmdr-menu-sort" class="media-cmdr media-cmdr-dialog">
<caption>Sort order</caption>
<tr><td><input type="radio" name="media-cmdr-menu-sort" value="u"/> Unsorted</td><td><input type="checkbox" name="media-cmdr-menu-case"/> Case sensitive</td></tr>
<tr><td><input type="radio" name="media-cmdr-menu-sort" value="n"/> Name</td><td><input type="checkbox" name="media-cmdr-menu-rvrs"/> Reverse</td></tr>
<tr><td><input type="radio" name="media-cmdr-menu-sort" value="e"/> Extension</td><td></td></tr>
<tr><td><input type="radio" name="media-cmdr-menu-sort" value="s"/> Size</td><td></td></tr>
<tr><td><input type="radio" name="media-cmdr-menu-sort" value="t"/> Time</td><td></td></tr>
<tr><td colspan="2"><button type="button" class="media-cmdr-menu-ok">OK</button> <!--
--><button type="button" class="media-cmdr-menu-cancel">Cancel</button></td></tr>
</table><!--

 Error dialog

--><table id="media-cmdr-menu-error" class="media-cmdr media-cmdr-dialog media-cmdr-error">
<caption>Error</caption>
<tr><td></td></tr>
<tr><td><button type="button" class="media-cmdr-menu-ok">OK</button></td></tr>
</table><!--

--></div><!--

 End of Menu

-->
<!-- left panel -->
<div id="media-cmdr-left-wrap"><div>
<table class="media-cmdr panel"><thead><tr><th class="n"/><th class="s"/><th class="d"/><th class="m"/></tr>
<tr class="path"><th id="media-cmdr-left-path" colspan="4"><span>/</span></th></tr>
<tr id="media-cmdr-left-head" class="header"><th class="n">Name</th><th class="s">Size</th><th class="d">Date</th><th class="m">Mode</th></tr></thead>
</table></div>
<div id="media-cmdr-left">
<table class="media-cmdr panel"><tbody></tbody></table>
</div>
<table class="media-cmdr"><tfoot><tr><th id="media-cmdr-left-status" colspan="4">Left status</th></tr></tfoot></table>
</div><!--

 Right panel 

--><div id="media-cmdr-right-wrap"><div>
<table class="media-cmdr panel"><thead><tr><th class="n"/><th class="s"/><th class="d"/><th class="m"/></tr>
<tr class="path"><th id="media-cmdr-right-path" colspan="4"><span>/</span></th></tr>
<tr id="media-cmdr-right-head" class="header"><th class="n">Name</th><th class="s">Size</th><th class="d">Date</th><th class="m">Mode</th></tr></thead>
</table></div>
<div id="media-cmdr-right">
<table class="media-cmdr panel"><tbody></tbody></table>
</div>
<table class="media-cmdr"><tfoot><tr><th id="media-cmdr-right-status" colspan="4">Right status</th></tr></tfoot></table><!-- 
bottom menu
--></div><br><br style="clear: both"><table id="media-cmdr-bottom-menu" class="media-cmdr media-cmdr-menu"><tr>
<td id="media-cmdr-f1"><span>F1</span>Help</td><td id="media-cmdr-f2"><span>F2</span>Menu</td>
<td id="media-cmdr-f3"><span>F3</span>View</td><td id="media-cmdr-f3"><span>F4</span>Edit</td>
<td id="media-cmdr-f5"><span>F5</span>Copy</td><td id="media-cmdr-f4"><span>F6</span>RenMov</td>
<td id="media-cmdr-f7"><span>F7</span>Mkdir</td><td id="media-cmdr-f5"><span>F8</span>Delete</td>
</tr></table>
<div id="devstatus"></div>